{
  "dataroot": "./datasets/facades",
  "name": "facades_pix2pix",
  "model": "pix2pix",
  "direction": "BtoA",
  "lambda_L1": 100.0,
  "gan_mode": "vanilla",
  "pool_size": 0,
  "lr_policy": "linear",
  "lr": 0.0002,
  "beta1": 0.5,
  "epoch_count": 1,
  "n_epochs": 100,
  "n_epochs_decay": 100,
  "save_epoch_freq": 5,
  "save_latest_freq": 5000,
  "print_freq": 100,
  "display_freq": 400,
  "update_html_freq": 1000,
  "no_html": false,
  "save_by_iter": false,
  "continue_train": false,
  "phase": "train",
  "enable_validation": true,
  "val_freq": 5,
  "val_batch_size": 1,
  "use_cache": true
}